*{
    margin: 0;
    padding: 0;
}

.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }

  body{
    background-color: #F1F1F3;
  }
  
/* Common styles */
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.green-btn{
    font-size: 18px;
    width: 270px;
    height: 56px;
    border-radius: 8px;
    background-color: #006A50;
    color: #FFFFFF;
    font-weight: 600;
}
.mini-btn{
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #5490F5;
    border-radius: 8px;
}

.headline-text{
    /* width height alignment varies on used h2 elements */
height: auto;
font-size: 40px;
font-weight: bold;
color: #0E0E0E;
}

.light-green-bg-color{
    background-color: #006A50;
}

.description-text{
    /*different opecity and alignment based on requirement*/
    font-size: 16px;
    color: #0E0E0E;
}

,.headline-text-mini{
    font-size: 20px;
    font-weight: bold;
    color: #0E0E0E;
    opacity: 80%;
}


/* main body */
main{
    width: 1280px;
    margin: 0 auto;
}

/* Banner section style */
.banner{
    height: 560px;
    gap: 64px;
    background-color: #C6E4D6;
    border-radius: 24px;
    margin: 20px 0 80px 0;
}


.banner-content{
    width: 622px;
    height: 326px;
    margin-left: -40.01px;
}
.banner-subtitle{
 font-size: 24px;
 font-weight: 500;
    margin-bottom: 16px;
    color: #0E0E0E;
    opacity: 50%;
}
.banner-title{
    font-size: 56px;
    margin-bottom: 24px;
    line-height: normal;
}

.banner-btn{
    font-size: 18px;
    width: 270px;
    height: 56px;
    border-radius: 8px;
    background-color: #006A50;
    color: #FFFFFF;
    font-weight: 600;
    border: none;
}

.banner-image{
    width: 474px;
    height: 400px;
}


/* future section style */

/* future-header */
.future-header{
    
}
.future-header-container{
    margin-bottom: 32px;
}
.future-header-title{
    margin-bottom: 24px;
}

.future-header-description{
opacity: 70%;
}

/* future-pillers */
.future-pillers{
gap: 24px;
margin-bottom: 32px;
}
.future-piller-container{
    width: 410.67px;
    column-gap: 12px;
    display: flex;
    flex-direction: column;
    padding: 32px;
    gap: 24px;
    background-color: #5490F533;
    border-radius: 16px;
}

.future-pillers .bg-green{
    background-color: #C6E4D6;
}
.future-pillers .bg-d-green{
    background-color: #09A15C;
}
.future-pillers .bg-yellowish{
    background-color: #F7EBCF;
}
.future-pillers .bg-d-yellowish{
    background-color: #FFC239;
}
.future-piller-container-icon{
    width: 64px;
    height: 64px;
}
.future-piller-container-content{
    width: 346.67px;
    column-gap: 12px;
    height: 108px;
    
}

.future-piller-container-content-title{
    font-size: 20px;
    font-weight: bold;
    color: #0E0E0E;
    opacity: 80%;
    margin-bottom: 12px;

}
.future-piller-container-content-description{
    opacity: 70%;
}
.future-piller-container-button{
width: 122px;
height: 41px;
border: none;
}

/* future-quote */
.future-quote{
    background: #FFFFFF url("../assets/quote-bg.png") no-repeat left 24px top 25px;
    background-size: 64px 64px;
    padding: 48px 24px;
}
.future-quote-content{
    margin-bottom: 12PX;
}

.future-content-quote{
    opacity: 80%;
    line-height: 24px;
}
.quote-name{
    font-weight: 600;
    font-size: 20px;
    opacity: 80%;
}
.uote-designation{
    opacity: 60%;
}



/* donate section style */
.donate{
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.donate-today{
    text-align: center;
    height: 120px;
    width: 1280px;

}
.donate-today h1{
    margin-bottom: 24px;
}
.donate-today p{
    opacity: 70%;
}

.taka-amount{
    height: 128px;
    display: flex;
    align-items: center;
    gap: 24px;
    width: 1071px;
}

.hundred-taka{
    width: 243px;
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    cursor: pointer;
    border-radius: 16px;
}

.taka-text{
    width: 160px;
}
.taka-text-2{
    width: 171px;
}
.taka-text-3{
    width: 163px;
}
.taka-text-4{
    width: 193px;
}
.active-hover{
    background-color: #C6E4D6;
}
.inactive-hover:hover{
    background-color: #C6E4D6;
}


.other-amount{
    width: 1032px;
    height: 64px;
    text-align: center;
    border: none;
}
input::placeholder{
    font-size: 20px;
    color: #0E0E0E;
    opacity: 30%;
}

.donate-button{
    width: 155px;
    height: 56px;
    border-radius: none;
}

/* news style */
.news{
    margin-top: 80px;
}
.news-intro h2{
margin-bottom: 24px;
}
.news-boxes{
    background-color: #FFFFFF;
    height: 402px;
    margin: 32px 0;
}
.news-box-container{
gap: 32px;
padding: 48px;
/* height: 402px; */
}
.news-box-container-image{
    border-radius: 24px;
}
.news-boxes h3{
    font-size: 32px;
    font-weight: 600;
    color: #0E0E0E;
    opacity: 80%;
    margin-bottom: 12px;
}
.news-boxes p{
    opacity: 70%;
}

.news-box-container-content{

}

.news-box-container-content-head{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 32px;
}
.flex-row-reverse{
    flex-direction: row-reverse;
}
.news-boxes button{
    width: 139px;
    height: 48px;
}